.header {
	display: table;
	height: 145px;
	overflow: hidden;
}
.logo {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.logo a {
	text-decoration:none;
	color: #343a40;
}
.menu .btn {
	width:100%;
	margin:5px;
}
textarea {
	height: 193px;
	resize: none;
}