.header {
	display: table;
	height: 145px;
	overflow: hidden;
}
.logo {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.logo a {
	text-decoration: none;
	color: #343a40;
}
.menu .btn {
	width:100%;
	margin:5px;
}
textarea {
	height: 193px;
	resize: none;
}
#shift-group {
	margin:5px;
	text-align:center;
}
.text-input{
	border: 1px solid #343a40;
	border-radius: 3px;
	padding: 3px;
}
#shift {
	width:80px;
}
.cipher-title {
	margin-bottom: 20px;
}
#key{
	width:150px;
}